<a href="https://colab.research.google.com/github/shivani-vishwakarmaa/python-practice/blob/main/All_set_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"""
# üßÆ Python Set Methods Notebook

‚úÖ This notebook showcases essential set methods in Python.
Each cell contains:

- ‚úÖ Clear examples
- üß™ Ready-to-run code snippets
- üìò Useful for practice and revision

**Usage Tip:**
- ‚ñ∂Ô∏è Run cells to see what each method does
- üõ†Ô∏è Try adding/removing elements to test behavior
"""

In [ ]:
#set
s={'false','true','false','true'}
print(s)

{'true', 'false'}

### 2 ways to get unique elements in *list*

In [ ]:
l=[1,2,3,1,2,4]
d={}
for a in l:
  if a in d:
    d[a]+=1
  else:
    d[a]=1
print(d)

keys_with_value_1 = [key for key, value in d.items() if value == 1]
print(keys_with_value_1)

{1: 2, 2: 2, 3: 1, 4: 1}
[3, 4]

In [ ]:
lst = [1, 2, 3, 1, 2, 4]
Counter(lst)

Counter({1: 2, 2: 2, 3: 1, 4: 1})

In [ ]:
from collections import Counter
lst=[1,2,3,1,2,4]
unique = list(Counter(lst).keys())
print(unique)

[1, 2, 3, 4]

### removing duplicates in list

In [ ]:
l=[1,2,3,1,2,4]
print(set(l))

{1, 2, 3, 4}

In [ ]:
l=[1,2,3,1,2,4]
remove_dup=[]
for i in l:
  if i not in remove_dup:
    remove_dup.append(i)
print( remove_dup)

[1, 2, 3, 4]

In [ ]:
# @title add()
s = {1, 2, 3}
s.add(4)
print(s)  # {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
# @title update()
s.update([5, 6])
print(s)  # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [ ]:
# @title remove()
s.remove(3)
print(s)  # {1, 2, 4, 5, 6}

{1, 2, 4, 5, 6}

In [ ]:
# @title discard()
s.discard(10)  # No error if not present
print(s)

{1, 2, 4, 5, 6}

In [ ]:
# @title pop()
print(s)
element = s.pop()
print(element)  # Random element
print(s)

{1, 2, 4, 5, 6}
1
{2, 4, 5, 6}

In [ ]:
# @title clear()
s.clear()
print(s)  # set()

In [ ]:
# @title union()
a = {1, 2}
b = {2, 3}
print(a.union(b))  # {1, 2, 3}
c={9,10}
print(a|b|c)

{1, 2, 3}
{1, 2, 3, 9, 10}

TypeError: 'set' object is not subscriptable

In [ ]:
# @title intersection()
print(a.intersection(b))  # {2}
print(a & b)

{2}
{2}

In [ ]:
# @title difference() & difference_update()
print(a.difference(b))  # {1}
print(a-b)

a = {1, 2, 3}
b = {2, 3}
a.difference_update(b)
print(a)  # {1}

{1}
{1}
{1}

In [ ]:
# @title symmetric_difference() & symmetric_difference_update()
print(a.symmetric_difference(b))  # {1, 3}

a = {1, 2, 3}
b = {3, 4}
a.symmetric_difference_update(b)
print(a)  # {1, 2, 4}

In [ ]:
# @title issubset() , issuperset() , isdisjoint()
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))  # True


print(b.issuperset(a))  # True


x = {1, 2}
y = {3, 4}
print(x.isdisjoint(y))  # True

True
True
True

In [ ]:
# @title copy()
s = {5, 6, 7}
s_copy = s.copy()
print(s_copy)  # {5, 6, 7}

In [ ]:

# @title len() on set
print(len(s))  # 3

In [ ]:
# @title in keyword
print(5 in s)   # True
print(9 in s)   # False

In [ ]:
myset={1,3,5,2}
print(myset)
del myset
print(myset)

{1, 2, 3, 5}

NameError: name 'myset' is not defined

# size of set

In [4]:
import sys
Set1 = {"A", 1, "B", 2, "C", 3}
print("size of set1" ,sys.getsizeof(Set1), "bytes")

size of set1 472 bytes

### Using inbuilt sizeof() method

In [5]:
Set3 = {(1, "Lion"), (2, "Tiger"), (3, "Fox")}

# print the sizes of sample Sets
print("Size of Set3:", Set3.__sizeof__(), "bytes")

Size of Set3: 200 bytes

# iterating over a set

### Using set.__iter__()

In [6]:
set1={"A", 1, "B", 2, "C", 3}
for i in  set1.__iter__():
  print(i)

1
2
3
A
C
B

In [7]:
a = set("geEks")

for i in iter(a):
    print(i)

g
s
e
E
k

In [8]:
a = set("geEks")

for idx, i in enumerate(a):
    print(i)

g
s
e
E
k

# sort

### finding min and max

In [11]:
s={9,0,1,6,2}
ls=(sorted(s))

In [12]:
print(ls[0])
print(ls[-1])

0
9

### using loops

In [19]:
def find_max_min_in_set(s):
  largest = float('-inf')
  smallest = float('inf')
  for i in s:
    if i >largest:
      largest=i
    if i<smallest:
      smallest=i
  return largest , smallest
s={9,0,1,6,2}
max_val, min_val = find_max_min_in_set(s)
print(f"max: {max_val}, min: {min_val}")

max: 9, min: 0

In [21]:
s = {'a', 'b', 'c', 'd', 'e'}

# print set
print(type(s), " ", s)
print(type(s).__name__, " ", s)

<class 'set'>   {'b', 'd', 'a', 'c', 'e'}
set   {'b', 'd', 'a', 'c', 'e'}

In [23]:
arr= [9, 8, 7, 4, 4, 2, 1, 1, 9, 8]
s=set()
s.update(arr)
print(*sorted(s))

1 2 4 7 8 9