<a href="https://colab.research.google.com/github/shivani-vishwakarmaa/python-practice/blob/main/All_set_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"""
# üßÆ Python Set Methods Notebook

‚úÖ This notebook showcases essential set methods in Python.
Each cell contains:

- ‚úÖ Clear examples
- üß™ Ready-to-run code snippets
- üìò Useful for practice and revision

**Usage Tip:**
- ‚ñ∂Ô∏è Run cells to see what each method does
- üõ†Ô∏è Try adding/removing elements to test behavior
"""

In [ ]:
#set
s={'false','true','false','true'}
print(s)

{'true', 'false'}

### 2 ways to get unique elements in *list*

In [ ]:
l=[1,2,3,1,2,4]
d={}
for a in l:
  if a in d:
    d[a]+=1
  else:
    d[a]=1
print(d)

keys_with_value_1 = [key for key, value in d.items() if value == 1]
print(keys_with_value_1)

{1: 2, 2: 2, 3: 1, 4: 1}
[3, 4]

In [ ]:
lst = [1, 2, 3, 1, 2, 4]
Counter(lst)

Counter({1: 2, 2: 2, 3: 1, 4: 1})

In [ ]:
from collections import Counter
lst=[1,2,3,1,2,4]
unique = list(Counter(lst).keys())
print(unique)

[1, 2, 3, 4]

### removing duplicates in list

In [ ]:
l=[1,2,3,1,2,4]
print(set(l))

{1, 2, 3, 4}

In [ ]:
l=[1,2,3,1,2,4]
remove_dup=[]
for i in l:
  if i not in remove_dup:
    remove_dup.append(i)
print( remove_dup)

[1, 2, 3, 4]

In [ ]:
# @title add()
s = {1, 2, 3}
s.add(4)
print(s)  # {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
# @title update()
s.update([5, 6])
print(s)  # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [ ]:
# @title remove()
s.remove(3)
print(s)  # {1, 2, 4, 5, 6}

{1, 2, 4, 5, 6}

In [ ]:
# @title discard()
s.discard(10)  # No error if not present
print(s)

{1, 2, 4, 5, 6}

In [ ]:
# @title pop()
print(s)
element = s.pop()
print(element)  # Random element
print(s)

{1, 2, 4, 5, 6}
1
{2, 4, 5, 6}

In [ ]:
# @title clear()
s.clear()
print(s)  # set()

In [ ]:
# @title union()
a = {1, 2}
b = {2, 3}
print(a.union(b))  # {1, 2, 3}
c={9,10}
print(a|b|c)

{1, 2, 3}
{1, 2, 3, 9, 10}

TypeError: 'set' object is not subscriptable

In [ ]:
# @title intersection()
print(a.intersection(b))  # {2}
print(a & b)

{2}
{2}

In [ ]:
# @title difference() & difference_update()
print(a.difference(b))  # {1}
print(a-b)

a = {1, 2, 3}
b = {2, 3}
a.difference_update(b)
print(a)  # {1}

{1}
{1}
{1}

In [ ]:
# @title symmetric_difference() & symmetric_difference_update()
print(a.symmetric_difference(b))  # {1, 3}

a = {1, 2, 3}
b = {3, 4}
a.symmetric_difference_update(b)
print(a)  # {1, 2, 4}

In [ ]:
# @title issubset() , issuperset() , isdisjoint()
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))  # True


print(b.issuperset(a))  # True


x = {1, 2}
y = {3, 4}
print(x.isdisjoint(y))  # True

True
True
True

In [ ]:
# @title copy()
s = {5, 6, 7}
s_copy = s.copy()
print(s_copy)  # {5, 6, 7}

In [ ]:

# @title len() on set
print(len(s))  # 3

In [ ]:
# @title in keyword
print(5 in s)   # True
print(9 in s)   # False

In [ ]:
myset={1,3,5,2}
print(myset)
del myset
print(myset)

{1, 2, 3, 5}

NameError: name 'myset' is not defined